src/main/resources/user.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://revature.com/webservice"
	targetNamespace="http://revature.com/webservice"
	elementFormDefault="qualified">

	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="name" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>